<div class="center">
  <h2 class="ui teal image header">
    <div class="content">Update book</div>
  </h2>
  <p><%= 'Preencha os campos para salvar seu livro.' %></p>
</div>
<%= render 'form', book: @book, url: edit_book_path(@book) %>
