<div class="col-md-6 centered">
  <h3><%= 'Cadastrar novo livro' %></h3>
	<p><%= 'Preencha os campos para salvar seu livro.' %></p>
  <%= render 'form', book: @book, url: new_book_path(@book) %>
</div>
