<div class="item">
  <div class="ui icon input">
    <%= form_tag books_path, role: 'search', class: 'ui icon input',
      method: :get do |f| %>
        <%= text_field_tag :q, params[:q], placeholder: 'Search...' %>
        <i class="search link icon">
        </i>
    <% end %>
  </div>
</div>
